/*/// RESET ///*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.d_flex{
    display: flex;
}

.bg_col_aqua{
    background-color: aqua;
}

.bg_col_yel_gre{
    background-color: yellowgreen;
}