/*/// RESET ///*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* MISURE CONTENITORI PRINCIPALI */
.header_container{
    height: 20vh;
}

.body_container{
    height: 70vh;
}

.footer_container{
    height: 10vh;
}

/* Contenitori dell'header */
.header{
    height: 100%;
    background-image: url(img/car_wash_2.jpg);
}

.hamburger{
    width: 5vh;
    height: 5vh;
    background-color: red;
    position: absolute;
    top: 10%;
    right: 5%;
}

.header_box_size{
    width: 33%;
    height: 100%;
}

.header_box_title{
    position: relative;
}
.header_title{
    position: absolute;
    top: 10%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
}


/* Body */

.body_col_sx{
    width: 20%;
}
.body_col_dx{
    width: 80%;
}

/* Navbar */
/* .nav_box{
    width: 25%;
    border: 2px solid black;
    position: relative;
} */
/* .nav_button{
    width: 70%;
    height: 80%;
    border: 2px solid black;
    border-radius: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


.col_white{
    color: white;
}



/**/
.d_flex{
    display: flex;
}

.txt_center{
    text-align: center;
}

.bg_col_aqua{
    background-color: aqua;
}

.bg_col_yel_gre{
    background-color: yellowgreen;
}
.bg_col_blu{
    background-color: blue;
}