/*/// RESET ///*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}



/* MISURE CONTENITORI PRINCIPALI */
.header_container{
    height: 20vh;
}

.body_container{
    height: 70vh;
}

.footer_container{
    height: 10vh;
}

/* Contenitori dell'header */
.header{
    height: 100%;
    background-image: url(img/car_wash_2.jpg);
}

.hamburger{
    width: 5vh;
    height: 5vh;
    /* background-color: red; */
    position: absolute;
    top: 10%;
    right: 5%;
    padding-top: 3%;
}

.header_box_size{
    width: 33%;
    height: 100%;
}

.header_box_title{
    position: relative;
}
.header_title{
    position: absolute;
    top: 10%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
}


/* Body */

.body_col_sx{
    width: 25%;
    flex-direction: column;
    padding: 3%;
}
.body_col_dx{
    width: 75%;
}

.button_icon{
    border: 2px solid black;
    border-radius: 100%;
    padding: 25%;
    margin-bottom: 5%;
}

.aside_nav_button{
    border: none;
    background-color: transparent;
    margin-top: 25%;
}


/* Navbar */

/* .nav_box{
    width: 25%;
    border: 2px solid black;
    position: relative;
} */
/* .nav_button{
    width: 70%;
    height: 80%;
    border: 2px solid black;
    border-radius: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */



/* WAllet body */
.wallet_title{
    margin-top: 5%;
    margin-bottom: 5%;
}
.wallet_body{
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-color: lightcoral;
}
.current_credit_container{
    margin-bottom: 20%;
}

.buy_coins_contaniner{
    width: 90%;
    /* background-color: rebeccapurple; */
}

.add_coins_button_box{
    /* background-color: aqua; */
    justify-content: space-around;
    align-items: baseline;
    display: flex;
}

.add_or_sub_coins_button{
    width: 10vh;
    height: 10vh;
    background-color: yellowgreen;
    border: 4px solid black;
    border-radius: 25%;
    color: black;
    font-size: 30px;
}

.coins_to_buy_box{
    font-size: 25px;
    border: 3px solid black;
    border-radius: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.coins_value_container{
    /* background-color: yellow; */
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.buy_coins_button_box{
    /* background-color: aqua; */
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.buy_coins_button{
    background-color: yellowgreen;
    border: 3px solid black;
    border-radius: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}


/* Sloves body */

.sloves_title{
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}
.sloves_body{
    width: 100%;
    background-color: lightcoral;
    /* padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%; */
}

.sloves_main_container{
    /* background-color: yellow; */
    padding-top: 10%;
    padding-bottom: 10%;
}

.sloves_container{
    display: flex;
    align-items: baseline;
    /* background-color: aqua; */
}

.slove_box_sx{
    /* background-color: yellowgreen; */
    padding: 10%;
    font-size: large;
}

.slove_description_box{
    font-size: large;
}

.select_slove_button{
    font-size: large;
    padding: 20%;
    background-color: transparent;
    /* border: 5px solid yellowgreen; */
    border-radius: 20%;
    color: yellowgreen;
    background-color: black;
}


/* Slove detail body */

.slove_detail_body{
    padding: 5%;
}

.slove_detail_title{
    margin-bottom: 5%;
}

.wash_session_container{
    background-color: yellow;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start_wash_button{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

.timer_box{
    padding: 10%;
    font-size: 20px;
    border: 5px solid black;
    background-color: red;
}


/* box icone operazioni */
.wash_operation_box{
    padding: 20%;
    border: 2px solid black;
    background-color: greenyellow;
}










/* Commons */

.col_white{
    color: white;
}

.d_flex{
    display: flex;
}
.just_center{
    justify-content: center;
}
.just_space_between{
    justify-content: space-between;
}

.flex_dir_col{
    flex-direction: column;
}

.txt_center{
    text-align: center;
}

.bg_col_aqua{
    background-color: aqua;
}

.bg_col_yel_gre{
    background-color: yellowgreen;
}
.bg_col_blu{
    background-color: blue;
}
.mg_right{
    margin-right: 5px;
}

.font_big{
    font-size: 20px;
}